{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo Lists</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
  </head>
  <body>
    <main>
      <div>
        <h1>{{tododetail}}</h1>
        <h2>Tasks</h2>
          <p><a href="{% url 'todos_item_update' tododetail.pk %}">Edit</a></p>
           <p><a href="{% url 'todos_list_delete' tododetail.pk %}">Delete</a></p>
        <table>
          <thead>
            <tr>
              <th>Task</th>
              <th>Due Date</th>
            </tr>
          </thead>
          <tbody>
            {% for item in tododetail.items.all %}
            <tr>
              <td><a href="{%url 'todos_list_detail' item.pk %}">{{item.task}}</a></td>
              <td>{{item.due_date}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
