{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo Lists</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
  </head>
  <body>
    <main>
      <div>
        <h1>Update Item</h1>
        <form method="post">
          {% csrf_token %} {{form.as_p}}
          <!-- <input type="text" name="task">
          <input type="text" name="due_date">
          <input type="checkbox" name="is_completed">
          <select name="list"></select> -->
          <button>Update</button>
        </form>
      </div>
    </main>
  </body>
</html>
