{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo Lists</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
  </head>
  <body>
    <main>
      <div>
        <h1>My Lists</h1>
        <div>
            <p><a href="{% url 'todos_list_create' %}">Create a New List</a></p>
            <p><a href="{% url 'todos_item_create' %}">Create a New Item</a></p>
        </div>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Number of Items</th>
            </tr>
          </thead>
          <tbody>
            {% for todo in todolist_list %}
            <tr>
              <td><a href="{% url 'todos_list_detail' todo.pk %}">{{todo.name}}</a></td>
              <td>{{todo.items.all|length}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
